{% block content %}
{% load static  %}
{%load mathfilters%}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="{% static 'css/details.css'%}">
    <link rel="stylesheet" href="{% static 'css/product.css'%}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container bootdey">
        <!-- product -->
        <div class="product-content product-wrap clearfix product-deatil">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <div id="myCarousel-2" class="carousel slide">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel-2" data-slide-to="0" class=""></li>
                                <li data-target="#myCarousel-2" data-slide-to="1" class="active"></li>
                                <li data-target="#myCarousel-2" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <!-- Slide 1 -->
                                <div class="item active">
                                    <img src="{{ product.image }}" class="img-responsive" alt="" />
                                </div>
                            </div>
                            <a class="left carousel-control"  data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
                            <a class="right carousel-control" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                    <h2 class="name">
                        {{ product.product_name}}
                        <small style="padding-top: 15px;">Product by <a href="{% url 'search_product' %}?category_name={{ product.category_name|urlencode }}">{{ product.category_name }}</a></small>
                        <p style="color:#337ab7;font-size: 20px;margin: 0 0 0px; ">{{product.rating_avg}}/5 <i class="fa fa-star fa-2x text-primary"></i></p> 
                        <span class="fa fa-2x"><h5>{{ product.discount_rate }}% Discount</h5></span>
                        <a href="javascript:void(0);">{{ product.review_count }} customer reviews</a>
                    </h2>
                    <hr />
                    <h3 class="price-container">
                        {{ product.price|intcomma }}đ
                        <small style="text-decoration: line-through; color: red;">{{ product.list_price|intcomma }}đ</small>
                    </h3>
                    <div class="certified">
                        <ul>
                            <li>
                                <a href="javascript:void(0);">Delivery time<span>7 Working Days</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Certified<span>Quality Assured</span></a>
                            </li>
                        </ul>
                    </div>
                    <hr />
                    <div class="description description-tabs">
                        <ul id="myTab" class="nav nav-pills">
                            <li class="active"><a href="#more-information" data-toggle="tab" class="no-margin">Product Description </a></li>
                            <li class=""><a href="#specifications" data-toggle="tab">Specifications</a></li>
                            <li class=""><a href="#reviews" data-toggle="tab">Reviews</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="more-information">
                                <br />
                                <strong>Description Title</strong>
                                <p>
                                    {{ product.short_description }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
        <!-- end product -->
        <div class="row">
            {% for relate in relates %}
                <div class="product-grid col-xs-12 col-sm-6 col-md-3">
                    <div class="product-item">
                        <div class="image">
                        <a href="{% url 'details' relate.id  %}"><img src="{{ relate.image }}" alt="Product 1"></a>
                        </div>
                        <div class="caption">
                        <div class="name text-center">
                            <a href="{% url 'details' relate.id  %}">{{ relate.product_name|lower|capfirst }}</a>
                        </div>
                        <div class="price">
                            <span>{{ relate.price|intcomma }}đ</span>
                        </div>
                        {% comment %} <div class="cart">
                            <button type="button" class="btn btn-primary">Add to Cart</button>
                        </div> {% endcomment %}
                        </div>
                        <button type="button" class="btn btn-default wishlist" data-toggle="tooltip" data-placement="right" title="Wishlist"><i class="fa fa-heart"></i></button>
                        <button type="button" class="btn btn-default compare" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fa fa-circle-o"></i></button>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
</body>
</html>
{% endblock %}
