<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
    <form method="post" action="{% url 'input' %}">
        {% csrf_token %}
        <label for="input_field">Input:</label>
        <input type="text" id="input_field" name="input_field">
        <button type="submit">Submit</button>
    </form>

    {% if input_value %}
        <p>The value of "input_value" is "{{ input_value }}".</p>
    {% else %}
    {% endif %}
</body>
</html>