{% block content %}
{% load static  %}
{%load mathfilters%}
{% load humanize %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Homepage</title>
  </head>
  <body>
<div class="container bootdey">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
            <form method="POST" action="">
                {% csrf_token %}
                <input value="{{ keyword }}" name="keyword" type="text" placeholder="Keyword Search" class="form-control" />
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Category
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                {% for category in categories %}
                    <li>
                        <a href="{% url 'search' %}?category_name={{ category.category_name|urlencode }}">{{ category.category_name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </section>
        
        <section class="panel">
            <header class="panel-heading">
                Filter
            </header>
            <div class="panel-body">
                    <div class="form-group">
                        <label>Brand</label>
                            <select name="brand_name" class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute; height: 34px; font-size: 12px;">
                                <option value="">
                                {% if brand_name %}
                                    {{ brand_name }}
                                {% else %}
                                    Choose brand
                                {% endif %}
                                </option> 
                                {% for brand in brands %}
                                    <option value="{{ brand.brand_name }}" {% if brand.brand_name == selected_brand %}selected{% endif %}>{{ brand.brand_name }}</option>
                                {% endfor %}                    
                            </select>
                        <span class="customSelect form-control" style="display: inline-block;">
                        <span class="customSelectInner" style="width: 209px; display: inline-block;">
                        </span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Min Price</label>
                        <input type="number" name="min_price" value="{{ min_price }}" class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute;  height: 34px; font-size: 12px;">
                        <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">Min Price</span></span>
                    </div>
                    <div class="form-group">
                        <label>Max Price</label>
                        <input type="number" name="max_price" value="{{ max_price }}" class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute;  height: 34px; font-size: 12px;">
                        <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">Max Price</span></span>
                    </div>
                
            </div>
        </section>

        <section class="panel">
            <header class="panel-heading">
                Sort
            </header>
            <div class="panel-body">
                    <div class="form-group">
                        <select name="sort" class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute; height: 34px; font-size: 12px;">
                                <option value="default" {% if sort == 'default' %}selected{% endif %}>----</option>
                                <option value="desc" {% if sort == 'desc' %}selected{% endif %}>Giảm dần</option>
                                <option value="asc" {% if sort == 'asc' %}selected{% endif %}>Tăng dần</option>
                        </select>
                    </div>
                    <br>
                    <br>
                    <br>
                    <button class="btn btn-primary" type="submit">Filter</button>
                </form>
            </div>
        </section>
    </div>
    <div class="col-md-9">
        <section class="panel">
            <div class="panel-body">
                <div class="pull-right">
                    <ul class="pagination pagination-sm pro-page-list">
                            {% with param_value=page %}
                                {% if param_value %}
                                    {% with decremented_value=param_value|sub:1 %}
                                        <li><a href="{% url 'search' %}?page={{decremented_value}}">«</a></li>
                                    {% endwith %}
                                    {% with incremented_value=param_value|add:1 %}
                                        <li><a href="{% url 'search' %}?page={{incremented_value}}">»</a></li>
                                    {% endwith %}
                                {% else %}
                                        <li><a href="{% url 'search' %}?page={{1}}">»</a></li>
                                {% endif %}
                            {% endwith %}
                    </ul>
                </div>
            </div>
        </section>

        <div class="row product-list">
          {% for product in products %}
            <div class="col-md-6">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="{{ product.image }}" alt="" />
                        <a href="#" class="adtocart">
                            <!-- <i class="fa fa-shopping-cart"></i> -->
                        {% comment %} <p class="price">{{ (product.discount / product.list_price) }}%</p> {% endcomment %}

                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="{% url 'details' product.id  %}" class="pro-title">
                              {{ product.product_name }}
                            </a>
                        </h4>
                        <p class="price">{{ product.price|intcomma }}đ</p>
                    </div>
                </section>
            </div>
          {% endfor %}
        </div>
    </div>
</div>

  </body>
  </html>
{% endblock %}